body {
  background-color: #56d7ec;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 1200px;
  position: relative;
  height: 100vh;
}

.container {
  display: inline-block;
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  border-radius: 50px;
  background-image: url(../img/white-bubble-red-background-texture-260nw-375510208.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

header > img {
  margin-left: 50px;
}

.logo {
  float: left;
  height: 20px;
  margin-top: 0px;
}

header > div {
  color: #fff;
  float: left;
  margin-left: 20px;

  font-size: 20px;
  text-decoration: none;
}

nav {
  float: right;
  margin-top: 0px;
  margin-right: 50px;
}

nav:first-of-type {
  margin-left: 50px;
}

nav > a {
  font-size: 20px;
  line-height: 10px;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

input {
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: none;
  margin-left: 10px;
  border-radius: 25px;
}

main {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
}

.text {
  display: inline-block;
  float: left;
  width: calc(1200px * 0.4);
  margin-top: 80px;
  margin-left: 50px;
  color: #fff;
}

.text > h1 {
  font-family: cursive;
  font-size: 50px;
  font-weight: lighter;
  display: inline-block;
  width: 100%;
}

p {
  font-size: 20px;
  margin-bottom: 50px;
}

.img {
  width: calc(1200px * 0.4);
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
}
